<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bahu.buffzs.mapper.FriendCircleMapper">

    <resultMap id="result" type="com.bahu.buffzs.pojo.BuffCircleOfFriends">
        <id column="ID" property="id"/>
        <result column="userId" property="userId"/>
        <result column="img1" property="img1"/>
        <result column="img2" property="img2"/>
        <result column="img3" property="img3"/>
        <result column="img4" property="img4"/>
        <result column="img5" property="img5"/>
        <result column="img6" property="img6"/>
        <result column="img7" property="img7"/>
        <result column="img8" property="img8"/>
        <result column="img9" property="img9"/>
        <result column="content" property="content"/>
        <result column="addTime" property="addTime"/>
        <result column="laud" property="laud"/>
        <result column="username" property="username"/>
    </resultMap>

    <select id="findAll"  resultMap="result">
        SELECT bf.*,bu.username FROM buff_circle_of_friends bf ,buff_user bu WHERE bf.userId = bu.id
        ORDER BY addTime DESC
    </select>

    <select id="findById" resultMap="result">
        SELECT * FROM buff_circle_of_friends WHERE id = #{id}
    </select>

    <insert id="save" parameterType="com.bahu.buffzs.pojo.BuffCircleOfFriends">
        INSERT INTO buff_circle_of_friends
        (userId,img1,img2,img3,img4,img5,img6,img7,img8,img9,content,addTime,laud)
        VALUES
        (#{userId},#{img1},#{img2},#{img3},#{img4},#{img5},#{img6},#{img7},#{img8},#{img9},#{content},#{addTime},#{laud})
    </insert>

    <update id="updateSave">
        UPDATE buff_circle_of_friends SET
        <if test="img1 != null and img1 != ''" >
            img1 = #{img1},
        </if>
        <if test="img2 != null and img2 != ''">
            img2 = #{img2},
        </if>
        <if test="img3 != null and img3 != ''">
            img3 = #{img3},
        </if>
        <if test="img4 != null and img4 != ''">
            img4 = #{img4},
        </if>
        <if test="img5 != null and img5 != ''">
            img5 = #{img5},
        </if>
        <if test="img6 != null and img6 != ''">
            img6 = #{img6},
        </if>
        <if test="img7 != null and img7 != ''">
            img7 = #{img7},
        </if>
        <if test="img8 != null and img8 != ''">
            img8 = #{img8},
        </if>
        <if test="img9 != null and img9 != ''">
            img9 = #{img9},
        </if>
        <if test="content != null and content != ''">
            content = #{content},
        </if>
        <if test="laud != null ">
            laud = #{laud}
        </if>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM buff_circle_of_friends WHERE id = #{id}
    </delete>
</mapper>
