<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bahu.buffzs.mapper.GameGiftCodeMapper">

    <resultMap id="result" type="com.bahu.buffzs.pojo.BuffGameGiftCode">
        <id column="ID" property="id"/>
        <result column="unique_id" property="uniqueId"/>
        <result column="game_userid" property="gameUserid"/>
        <result column="game_id" property="gameId"/>
        <result column="channel_id" property="channelId"/>
        <result column="gift_code" property="giftCode"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="findAll" resultMap="result">
        SELECT * FROM buff_game_gift_code ORDER BY id DESC
    </select>

    <select id="findById" resultMap="result">
        SELECT * FROM buff_game_gift_code WHERE id = #{id}
    </select>

    <insert id="save" parameterType="com.bahu.buffzs.pojo.BuffGameGiftCode">
        INSERT INTO buff_game_gift_code
        (unique_id,game_id,channel_id,gift_code,status)
        VALUES
        (#{uniqueId},#{gameId},#{channelId},#{giftCode},#{status})
    </insert>

    <update id="updateSave">
        UPDATE buff_game_gift_code SET
        <if test="uniqueId != null">
            unique_id = #{uniqueId},
        </if>

        <if test="gameId != null">
            game_id = #{gameId},
        </if>

        <if test="channelId != null">
            channel_id = #{channelId},
        </if>

        <if test="giftCode != null">
            gift_code = #{giftCode},
        </if>

        <if test="status != null">
            status = #{status}
        </if>

        WHERE id = #{id}

    </update>

    <delete id="delete">
        DELETE FROM buff_game_gift_code WHERE id = #{id}
    </delete>
</mapper>
