<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bahu.buffzs.mapper.SubchannelMapper">

    <resultMap id="result" type="com.bahu.buffzs.pojo.BuffSubchannel">
        <id column="id" property="id"/>
        <result column="channelId" property="channelId"/>
        <result column="name" property="name"/>
        <result column="downloadUrl" property="downloadUrl"/>
        <result column="stype" property="stype"/>
        <result column="discount" property="discount"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <select id="findAll"  resultMap="result">
        SELECT * FROM buff_subchannel ORDER BY createTime DESC
    </select>

    <select id="findById"  resultMap="result">
        SELECT * FROM buff_subchannel where id = #{id}
    </select>

    <insert id="save" parameterType="com.bahu.buffzs.pojo.BuffSubchannel">
        INSERT INTO buff_subchannel
        (channelId,name,downloadUrl,stype,discount,createTime)
        VALUES
        (#{channelId},#{name},#{downloadUrl},#{stype},#{discount},#{createTime})
    </insert>

    <update id="updateById">
        UPDATE buff_subchannel SET
        <if test="name != null">
            name = #{name},
        </if>
        <if test="downloadUrl != null">
            downloadUrl = #{downloadUrl},
        </if>
        <if test="stype != null">
            stype = #{stype},
        </if>
        <if test="discount != null">
            discount = #{discount},
        </if>
        <if test="channelId != null">
            channelId = #{channelId}
        </if>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM buff_subchannel WHERE id = #{id}
    </delete>

    <select id="findByChannelId"  resultMap="result">
        SELECT * FROM buff_subchannel where channelId = #{channelId}
    </select>

    <select id="findByUrl"  resultMap="result">
        SELECT * FROM buff_subchannel where downloadUrl = #{url}
    </select>

</mapper>